<app-navbar></app-navbar>
<app-scrool></app-scrool>

<section class="ex-hero ex-hero-bg ex-bg-secondary">
  <div class="ex-container">
    <div class="ex-row">
      <div class="ex-col-6">
        <div class="ex-hero-text">
          <h1 class="ex-h1" data-aos="fade-up">Exsodia</h1>
          <p class="ex-hero-subtitle" data-aos="fade-up" data-aos-delay="100">
            Nous créons des solutions informatiques pratiques, <br> simples d’usage et bienveillantes.
          </p>
        </div>

        <div class="ex-d-block ex-hero-contact">
          <a href="#ex-contact" class="ex-btn" data-aos="fade-up" data-aos-delay="150">Contactez-nous
            <i class="fa fa-phone-alt ex-icon"></i>
          </a>
          <p class="ex-hero-subtitle" data-aos="fade-up" data-aos-delay="200">
            +237 690139627
          </p>
        </div>
      </div>

      <div class="ex-col-6">
        <div class="ex-hero-image" data-aos="fade-up" data-aos-delay="300">
          <img src="./../../../assets/images/hero-img.png" class="ex-img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<!--Section about-->

<section class="ex-service" id="ex-about">
  <div class="ex-container">
    <h2 class="ex-h2 ex-text-center ex-text-primary" data-aos="fade-up" data-aos-delay="300">
      A propos de nous
    </h2>

    <ngx-tabs>
      <ngx-tab tabTitle="Histoire">
        <div class="ex-row ex-mt-5">
          <div class="ex-col-6" data-aos="fade-up" data-aos-delay="200">
            <h2 class="ex-h2">Notre histoire</h2>
            <p class="ex-mt-5 ex-text-justify ex-text-light">
              <b>EXSODIA</b> a été fondée en 2019 par Bernard Dadjio, Ingénieur de formation. La jeune société fonde son
              cœur
              de métier dans l’application des technologies les plus innovantes aux besoins spécifiques dans les
              domaines de la santé, la manufacture et la gestion des programmes et projets. <br>
              <b>EXSODIA</b> propose par exemple un ingénieux système permettant de visualiser sur site un bâtiment
              encore en projet : la réalité augmentée extérieure et grandeur nature vient de naître. <br>
              Chaque jour, chez <b>EXSODIA</b>, nous apprenons continuellement à réduire les erreurs et à augmenter la
              qualité de nos résultats. Pour que cela se produise, nous devons mieux comprendre les autres et les aider
              continuellement à s'améliorer au-delà de leur potentiel, de la manière la plus simple possible.
              <br>Les personnes sont au centre de la fabrication et de l'industrie et de la technologie de tous les
              services que nous proposons. En conséquence, nous nous efforçons chaque jour à faire progresser l’être
              humain grâce à de meilleures solutions techniques.
            </p>
          </div>

          <div class="ex-col-6" data-aos="fade-up" data-aos-delay="400">
            <img src="./../../../assets/images/img1.jpeg" alt="Image 1" class="ex-img-fluid" />
          </div>
        </div>
      </ngx-tab>
      <ngx-tab tabTitle="Vision">
        <div class="ex-row ex-mt-5">
          <div class="ex-col-4" data-aos="fade-up" data-aos-delay="400">
            <img src="./../../../assets/images/img1.jpeg" alt="Image 1" class="ex-img-fluid" />
          </div>
          <div class="ex-col-8" data-aos="fade-up" data-aos-delay="200">
            <h1 class="ex-h2">Notre vision</h1>
            <p class="ex-mt-5 ex-text-justify ex-text-light">
              EXSODIA fournit des solutions complètes, de bout en bout pour les entreprises. Grâce à nos solutions de
              gestion personnalisées combinées à des analyses à grande échelle, la plate-forme EXSODIA fournit un
              déploiement évolutif pour améliorer le potentiel humain et améliorer l'efficacité de la formation avec les
              dernières technologies.
            </p>
          </div>
        </div>
      </ngx-tab>
      <ngx-tab tabTitle="Mission">
        <div class="ex-row ex-mt-5">
          <div class="ex-col-7">
            <h2 class="ex-h2">
              La mission de Exsodia
            </h2>
            <p class="ex-mt-5 ex-text-justify ex-text-light">Notre mission est de permettre aux entreprises et
              particuliers de se déployer et de profiter pleinement des solutions émergentes de réalité virtuelle, de
              réalité augmentée et d’intelligence artificielle.
              Nous y parviendrons en offrant des solutions clés en main complètes. Nous fournissons un déploiement
              matériel ainsi que des services professionnels via notre équipe technique dédiée, et la qualité inégalée
              des applications développées sur mesure de notre prodigieuse équipe interne.</p>
          </div>
          <div class="ex-col-5" data-aos="fade-up" data-aos-delay="400">
            <img src="./../../../assets/images/img1.jpeg" alt="Image 1" class="ex-img-fluid" />
          </div>
        </div>
      </ngx-tab>
    </ngx-tabs>
  </div>
</section>

<app-services></app-services>

<section class="ex-service-card ex-bg-dark">
  <div class="ex-container">
    <div class="ex-row">
      <div class="ex-col-6" data-aos="fade-up" data-aos-delay="200">
        <h5 class="ex-h5 ex-text-light">Nos avantages</h5>
        <h2 class="ex-h2">
          En travaillant avec nous, vous obtiendrez des avantages cles.
        </h2>
      </div>
    </div>
    <div class="ex-row ex-mt-5" data-aos="fade-up" data-aos-delay="350">
      <div class="ex-col-12">
        <owl-carousel-o [options]="customOptions" class="ex-carousel">
          <ng-template carouselSlide *ngFor="let avantage of avantages">
            <div class="service-item">
              <div class="icon">
                <i>
                  <img src="" alt="">
                </i>
              </div>
              <h5 class="service-title">{{avantage.title}}</h5>
              <p class="ex-text-justify">
               {{avantage.content.length > 325 ? avantage.content.substring(0, 315).concat("...") : avantage.content }}
              </p>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
