<app-navbar></app-navbar>
<app-scrool></app-scrool>

<section class="ex-hero ex-hero-bg ex-bg-secondary">
  <div class="ex-container">
    <div class="ex-row">
      <div class="ex-col-6">
        <div class="ex-hero-text">
          <h1 class="ex-h1" data-aos="fade-up">Exsodia</h1>
          <p class="ex-hero-subtitle" data-aos="fade-up" data-aos-delay="100">
            Nous créons des solutions informatiques pratiques, <br> simples d’usage et bienveillantes.
          </p>
        </div>

        <div class="ex-d-block ex-hero-contact">
          <a href="#ex-contact" class="ex-btn" data-aos="fade-up" data-aos-delay="150">Contactez-nous
            <i class="fa fa-phone-alt ex-icon"></i>
          </a>
          <p class="ex-hero-subtitle" data-aos="fade-up" data-aos-delay="200">
            +237 690139627
          </p>
        </div>
      </div>

      <div class="ex-col-6">
        <div class="ex-hero-image" data-aos="fade-up" data-aos-delay="300">
          <img src="./../assets/images/hero-img.png" class="ex-img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<!--Section about-->

<section class="ex-service" id="ex-about">
  <div class="ex-container">
    <h2 class="ex-h2 ex-text-center ex-text-primary" data-aos="fade-up" data-aos-delay="300">
      A propos de nous
    </h2>

    <ngx-tabs>
      <ngx-tab tabTitle="Histoire">
        <div class="ex-row ex-mt-5">
          <div class="ex-col-6" data-aos="fade-up" data-aos-delay="200">
            <h2 class="ex-h2">Notre histoire</h2>
            <p class="ex-mt-5 ex-text-justify ex-text-light">
              <b>EXSODIA</b> a été fondée en 2019 par Bernard Dadjio, Ingénieur de formation. La jeune société fonde son
              cœur
              de métier dans l’application des technologies les plus innovantes aux besoins spécifiques dans les
              domaines de la santé, la manufacture et la gestion des programmes et projets. <br>
              <b>EXSODIA</b> propose par exemple un ingénieux système permettant de visualiser sur site un bâtiment
              encore en projet : la réalité augmentée extérieure et grandeur nature vient de naître. <br>
              Chaque jour, chez <b>EXSODIA</b>, nous apprenons continuellement à réduire les erreurs et à augmenter la
              qualité de nos résultats. Pour que cela se produise, nous devons mieux comprendre les autres et les aider
              continuellement à s'améliorer au-delà de leur potentiel, de la manière la plus simple possible.
              <br>Les personnes sont au centre de la fabrication et de l'industrie et de la technologie de tous les
              services que nous proposons. En conséquence, nous nous efforçons chaque jour à faire progresser l’être
              humain grâce à de meilleures solutions techniques.
            </p>
            <!-- <div class="ex-d-block ex-mt-5">
              <a href="#" class="ex-btn ex-btn-secondary">
                Lire plus
                <i class="fa fa-eye ex-mx-5"></i>
              </a>
            </div> -->
          </div>

          <div class="ex-col-6" data-aos="fade-up" data-aos-delay="400">
            <img src="./../assets/images/img1.jpeg" alt="Image 1" class="ex-img-fluid" />
          </div>
        </div>
      </ngx-tab>
      <ngx-tab tabTitle="Vision">
        <div class="ex-row ex-mt-5">
          <div class="ex-col-4" data-aos="fade-up" data-aos-delay="400">
            <img src="./../assets/images/img1.jpeg" alt="Image 1" class="ex-img-fluid" />
          </div>
          <div class="ex-col-8" data-aos="fade-up" data-aos-delay="200">
            <h1 class="ex-h2">Notre vision</h1>
            <p class="ex-mt-5 ex-text-justify ex-text-light">
              EXSODIA fournit des solutions complètes, de bout en bout pour les entreprises. Grâce à nos solutions de
              gestion personnalisées combinées à des analyses à grande échelle, la plate-forme EXSODIA fournit un
              déploiement évolutif pour améliorer le potentiel humain et améliorer l'efficacité de la formation avec les
              dernières technologies.
            </p>
          </div>
        </div>
      </ngx-tab>
      <ngx-tab tabTitle="Mission">
        <div class="ex-row ex-mt-5">
          <div class="ex-col-7">
            <h2 class="ex-h2">
              La mission de Exsodia
            </h2>
            <p class="ex-mt-5 ex-text-justify ex-text-light">Notre mission est de permettre aux entreprises et
              particuliers de se déployer et de profiter pleinement des solutions émergentes de réalité virtuelle, de
              réalité augmentée et d’intelligence artificielle.
              Nous y parviendrons en offrant des solutions clés en main complètes. Nous fournissons un déploiement
              matériel ainsi que des services professionnels via notre équipe technique dédiée, et la qualité inégalée
              des applications développées sur mesure de notre prodigieuse équipe interne.</p>
          </div>
          <div class="ex-col-5" data-aos="fade-up" data-aos-delay="400">
            <img src="./../assets/images/img1.jpeg" alt="Image 1" class="ex-img-fluid" />
          </div>
        </div>
      </ngx-tab>
    </ngx-tabs>
  </div>
</section>

<app-services></app-services>


<!--Section service-->
<!-- <section class="ex-service ex-bg-light ex-mt-5" id="">
  <div class="ex-container">
    <h2 class="ex-h2 ex-text-center ex-text-primary" data-aos="fade-up" data-aos-delay="200">
      Services
    </h2>

    <div class="ex-btn-list" data-aos="fade-up" data-aos-delay="300">
      <a href="#" class="ex-btn ex-btn-primary active">Developpement et integration des services</a>
      <a href="#" class="ex-btn ex-btn-primary">Gestion projet d'integration et TI</a>
      <a href="#" class="ex-btn ex-btn-primary">Fiabilite et maintenance</a>
    </div>

    <div class="ex-row ex-mt-5">
      <div class="ex-col-8" data-aos="fade-up" data-aos-delay="200">
        <h2 class="ex-h2">Developpement et integration technologique</h2>
        <h5 class="ex-h5 ex-mt-5 ex-start-disc ex-color-secondary">
          Developpement et integration technologique
        </h5>

        <p class="ex-text-light ex-text-justify">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. At eum eaque
          excepturi voluptas ad Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Eligendi sit voluptas temporibus quo odit eaque et
          commodi est illo? Illum optio nisi unde nostrum nesciunt dolorum
          repudiandae expedita laboriosam non.
        </p>

        <h5 class="ex-h5 ex-mt-5 ex-start-disc ex-color-secondary">
          Developpement et integration technologique
        </h5>

        <p class="ex-text-light ex-text-justify">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. At eum eaque
          excepturi voluptas ad Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Eligendi sit voluptas temporibus quo odit eaque et
          commodi est illo? Illum optio nisi unde nostrum nesciunt dolorum
          repudiandae expedita laboriosam non.
        </p>
      </div>

      <div class="ex-col-4" data-aos="fade-up" data-aos-delay="400">
        <img src="./../assets/images/img1.jpeg" class="ex-img-fluid" alt="Images" class="ex-img-fluid" />
      </div>
    </div>
  </div>
</section>
 -->
<!--Services en cards-->

<section class="ex-service-card ex-bg-dark">
  <div class="ex-container">
    <div class="ex-row">
      <div class="ex-col-6" data-aos="fade-up" data-aos-delay="200">
        <h5 class="ex-h5 ex-text-light">Nos avantages</h5>
        <h2 class="ex-h2">
          En travaillant avec nous, vous obtiendrez des avantages cles.
        </h2>
      </div>
    </div>
    <div class="ex-row ex-mt-5" data-aos="fade-up" data-aos-delay="350">
      <div class="ex-col-12">
        <owl-carousel-o [options]="customOptions" class="ex-carousel">
          <ng-template carouselSlide *ngFor="let avantage of avantages">
            <div class="service-item">
              <div class="icon">
                <i>
                  <img src="" alt="">
                </i>
              </div>
              <h5 class="service-title">{{avantage.title}}</h5>
              <p class="ex-text-justify">
               {{avantage.content.length > 325 ? avantage.content.substring(0, 315).concat("...") : avantage.content }}
              </p>
            </div>
          </ng-template>
          <!-- <ng-template carouselSlide>
            <div class="service-item">
              <div class="icon">
                <i><img src="./../../../assets/images/service-icon-01.png" alt=""></i>
              </div>
              <h5 class="service-title">GESTION SOLIDE DES PROJETS ET DES PROCESSUS</h5>
              <p class="ex-text-justify">
                Nos chefs de projet servent de point focal pour tous vos besoins liés au projet. Les chefs de
                projet sont impliqués dans l'ensemble du cycle de vie du projet pour planifier, organiser,
                contrôler et déployer des jalons clés, des livrables selon vos objectifs. De plus, tous les projets
                d'EXSODIA sont supervisés par notre responsable de l'audit et de l'application des processus,
                ainsi que de la mesure des processus existants par rapport aux mesures établies et à l'analyse et
                à la mise en œuvre des améliorations des processus.
              </p>
            </div>
          </ng-template>

          <ng-template carouselSlide class="service-item">
            <div class="service-item">
              <div class="icon">
                <i><img src="./../../../assets/images/service-icon-02.png" alt=""></i>
              </div>
              <h5 class="service-title">ANALYSE APPROFONDIE DES EXIGENCES</h5>
              <p class="ex-text-justify">
                Chez EXSODIA nous accordons une attention particulière à la phase de découverte pour garantir
                que le produit final répond pleinement à vos attentes. Les analystes commerciaux d'EXSODIA
                définissent des moyens plus faciles d'atteindre ce dont vous avez besoin, tandis que les
                gestionnaires de projet identifient la méthodologie de développement et le modèle de
                coopération les plus appropriés, ainsi que la constitution de l'équipe de projet la plus efficace, et
                les experts technologiques travaillent sur la faisabilité technique et sélectionnent les
                technologies les plus efficaces.
              </p>
            </div>
          </ng-template>

          <ng-template carouselSlide class="service-item">
            <div class="service-item">
              <div class="icon">
                <i><img src="./../../../assets/images/icons8-registry-editor-48.png" alt=""></i>
              </div>
              <h5 class="service-title">QUALITÉ COMPLÈTE</h5>
              <p class="ex-text-justify">
                Nous avons un service d'AQ indépendant chargé de fournir une assurance qualité tout au long du
                cycle de vie de développement logiciel de chaque projet. En fonction de la taille de ce dernier,
                nous répartissons une équipe de test et définissons un calendrier d'AQ, qui nous permet
                d'optimiser la participation et les coûts du projet. Bien qu'indépendants en raison de leurs
                fonctions, nos experts en matière d'AQ travaillent en étroite coopération avec notre équipe de
                développement.
              </p>
            </div>
          </ng-template>

          <ng-template carouselSlide class="service-item">
            <div class="service-item">
              <div class="icon">
                <i><img src="./../../../assets/images/icons8-registry-editor-48.png" alt=""></i>
              </div>
              <h5 class="service-title">CONNAISSANCES À DÉVELOPPER</h5>
              <p class="ex-text-justify">
                Depuis notre création en 2019, nous avons construit une base de connaissances en travaillant
                sur des centaines de projets de développement. Nous avons absorbé les meilleures approches
                pour atteindre des performances maximales et la plus haute qualité lors de la réalisation de
                projets, en évitant une complexité redondante qui affecte à la fois le budget et le calendrier.
              </p>
            </div>
          </ng-template>

          <ng-template carouselSlide class="service-item">
            <div class="service-item">
              <div class="icon">
                <i><img src="./../../../assets/images/icons8-registry-editor-48.png" alt=""></i>
              </div>
              <h5 class="service-title">DEVOPS ET LIVRAISON CONTINUE</h5>
              <p class="ex-text-justify">
                Nous embrassons DevOps pour assurer la synergie entre le développement et les opérations en
                accordant une attention particulière aux principaux points de douleur dans vos besoins DevOps et en automatisant les processus de livraison de bout en bout tout en garantissant l'évolutivité et
                sécurité de votre infrastructure.
              </p>
            </div>
          </ng-template>

          <ng-template carouselSlide class="service-item">
            <div class="service-item">
              <div class="icon">
                <i><img src="./../../../assets/images/icons8-registry-editor-48.png" alt=""></i>
              </div>
              <h5 class="service-title">COMMUNICATION TRANSPARENTE</h5>
              <p class="ex-text-justify">
                La transparence permet à vous et à nous de voir en un coup d'œil, si nous sommes sur la bonne
                voie pour atteindre les objectifs ou si nous sommes bloqués dans une ou plusieurs directions, et
                d'éliminer ces bloqueurs. C'est pourquoi, dès le lancement du projet, nous sommes d'accord avec
                vous sur un plan de communication adapté à vos besoins pour travailler à différents niveaux –
                de l'équipe de base aux parties prenantes de la gestion.
              </p>
            </div>
          </ng-template> -->

        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>

<!--Service slide-->

<!-- <section class="ex-service-slide">
  <div class="ex-container">
    <div class="ex-row" data-aos="fade-up" data-aos-delay="200">
      <div class="ex-col-12">
        <h2 class="ex-h2">Services en carousel</h2>
      </div>
    </div>

    <div class="ex-row ex-mt-5" data-aos="fade-up" data-aos-delay="300">
      <div class="ex-col-12">
        <owl-carousel-o [options]="customOptions" class="ex-carousel">
          <ng-template carouselSlide class="ex-carousel-item">
            <div class="ex-carousel-card slide">
              <img src="./../assets/images/img4.jpg" class="ex-img-fluid" alt="Une image" />

              <div class="ex-carousel-description">
                <h2 class="ex-h2">Un titre</h2>
                <p class="ex-text-small ex-text-justify ex-text-light ex-mt-5">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Incidunt quas, itaque exercitationem soluta at aspernatur
                  magni excepturi quia esse quasi earum voluptas reiciendis
                  facilis aperiam! Nesciunt at aliquam nobis praesentium?
                </p>
              </div>

              <div class="ex-carousel-title">
                <small>Developpement</small>
                <h3>
                  <a href="#">
                    <small>Logiciels de qualite</small>
                    <i class="fa fa-angle-right ex-carousel-icon"></i>
                  </a>
                </h3>
              </div>
            </div>
          </ng-template>

          <ng-template carouselSlide class="ex-carousel-item">
            <div class="ex-carousel-card slide">
              <img src="./../assets/images/img1.jpeg" class="ex-img-fluid" alt="Une image" />

              <div class="ex-carousel-description">
                <h2 class="ex-h2">Un titre</h2>
                <p class="ex-text-small ex-text-justify ex-text-light ex-mt-5">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Incidunt quas, itaque exercitationem soluta at aspernatur
                  magni excepturi quia esse quasi earum voluptas reiciendis
                  facilis aperiam! Nesciunt at aliquam nobis praesentium?
                </p>
              </div>

              <div class="ex-carousel-title">
                <small>IA</small>
                <h3>
                  <a href="#">
                    <small>Une equipe de specialiste</small>
                    <i class="fa fa-angle-right ex-carousel-icon"></i>
                  </a>
                </h3>
              </div>
            </div>
          </ng-template>

          <ng-template carouselSlide class="ex-carousel-item">
            <div class="ex-carousel-card slide">
              <img src="./../assets/images/img2.jpg" class="ex-img-fluid" alt="Une image" />

              <div class="ex-carousel-description">
                <h2 class="ex-h2">Un titre</h2>
                <p class="ex-text-small ex-text-justify ex-text-light ex-mt-5">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Incidunt quas, itaque exercitationem soluta at aspernatur
                  magni excepturi quia esse quasi earum voluptas reiciendis
                  facilis aperiam! Nesciunt at aliquam nobis praesentium?
                </p>
              </div>

              <div class="ex-carousel-title">
                <small>Marketing</small>
                <h3>
                  <a href="#">
                    <small>Un bon marketing digital</small>
                    <i class="fa fa-angle-right ex-carousel-icon"></i>
                  </a>
                </h3>
              </div>
            </div>
          </ng-template>

          <ng-template carouselSlide class="ex-carousel-item">
            <div class="ex-carousel-card slide">
              <img src="./../assets/images/img5.jpg" class="ex-img-fluid" alt="Une image" />

              <div class="ex-carousel-description">
                <h2 class="ex-h2">Un titre</h2>
                <p class="ex-text-small ex-text-justify ex-text-light ex-mt-5">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Incidunt quas, itaque exercitationem soluta at aspernatur
                  magni excepturi quia esse quasi earum voluptas reiciendis
                  facilis aperiam! Nesciunt at aliquam nobis praesentium?
                </p>
              </div>

              <div class="ex-carousel-title">
                <small>Coworking</small>
                <h3>
                  <a href="#">
                    <small>Un bon espace de travail</small>
                    <i class="fa fa-angle-right ex-carousel-icon"></i>
                  </a>
                </h3>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section> -->

<!--Section industry-->

<!--Footer-->

<app-footer></app-footer>
