<header class="ex-header ex-bg-secondary" ngClass="{{toggle && 'active'}}">
  <div class="ex-container">
      <!--Logo-->
      <h2 class="h2">
          <a href="#" class="ex-logo">Exsodia</a>
      </h2>

      <!--Toggle button for mobile view-->
      <button class="ex-toggle-btn" (click)="ex_toggle_nav()">
          <div class="ex-hamburger">
              <span class="ex-bar"></span>
              <span class="ex-bar"></span>
              <span class="ex-bar"></span>
          </div>
      </button>

      <!--navbar-->
      <nav class="ex-navbar">
          <div class="ex-container">
              <ul class="ex-navbar-list">
                  <li>
                      <a href="#ex-about" class="ex-navbar-link active" (click)="ex_toggle_nav()">A propos</a>
                  </li>
                  <li>
                      <a href="#ex-service" class="ex-navbar-link" (click)="ex_toggle_nav()">services</a>
                  </li>
                  <li>
                      <a href="#ex-product" class="ex-navbar-link" (click)="ex_toggle_nav()">product</a>
                  </li>
                  <li>
                      <a href="#ex-contact" class="ex-navbar-link" (click)="ex_toggle_nav()">contacts</a>
                  </li>
              </ul>
          </div>
      </nav>
  </div>
</header>
