<section class="ex-industry ex-bg-light" id="ex-service">
  <div class="ex-container">
    <div class="ex-row">
      <div class="ex-col-6" data-aos="fade-up" data-aos-delay="200">
        <h5 class="ex-h5 ex-text-light">Nos differents services</h5>
        <h2 class="ex-h2">
          Ici, nous presentons les differents services que Exsodia mets a la disposition des clients.
        </h2>
      </div>
      <div class="ex-col-6" data-aos="fade-up" data-aos-delay="250">
        <small class="ex-text-justify ex-text-light">
          Diverses industries manufacturières traitent d'une série de modèles, de versions et de lieux avec une forte
          demande pour formation à la production ou clarification des produits. La complexité croissante de l'usinage,
          de la production et la quantité d'informations sur les produits requis sont souvent difficiles pour les
          entreprises industrielles et leur personnel. Avec la technologie <b>EXSODIA AR/MR</b>, le personnel de
          l'industrie en service, logistique et maintenance peut mieux effectuer ses tâches, ce avec des informations
          mains libres et complexes devant ses yeux.
        </small>
      </div>
    </div>

    <div class="ex-mt-5">
      <ngx-tabs>
        <ngx-tab tabTitle="Manufacturations">
          <div class="ex-row ex-mt-5">
            <div class="ex-col-12" data-aos="fade-up" data-aos-delay="350">
              <h2 class="ex-h2">Manufacturations</h2>
              <h5>DES SOLUTIONS TECHNOLOGIQUES QUI COUVRENT TOUT: DE LA FABRICATION À LA CHAÎNE D'APPROVISIONNEMENT !
              </h5>

              <p class="ex-text-light ex-mt-3 ex-text-justify">
                L'industrie manufacturière, qui reposait par ailleurs sur les workflows et les chaînes de montage
                conventionnels jusqu'à il y a quelques décennies, a rapidement adopté les dernières technologies.
                Certaines des raisons évidentes incluent le besoin pressant d'assurer les niveaux de qualité les plus
                élevés, de répondre aux besoins changeants des consommateurs, et en même temps, accélérer et intensifier
                le processus de fabrication pour répondre au volume de demande.
              </p>

              <p class="ex-text-light ex-mt-3 ex-text-justify">
                À <b>EXSODIA </b>, nous habilitons l'industrie manufacturière avec des solutions technologiques
                stratégiques qui visent à répondre à tous les besoins ci-dessus. Nos solutions couvrent tout, de la
                gestion des stocks et des actifs, de l'optimisation des actifs, des opérations de service sur le
                terrain, de la gestion du cycle de vie des produits, de la gestion des entrepôts et de la logistique, de
                l'automatisation des processus de fabrication à l'aide de solutions basées sur l'<b>IA/ML</b>, et
                systèmes d'entreprise et de chaîne d'approvisionnement.
              </p>

              <h5 class="ex-h5 ex-mt-5 ex-start-disc ex-color-secondary">
                AUTOMATISATION BASÉE SUR L'IA/ML
              </h5>

              <p class="ex-text-light ex-text-justify">
                Nos solutions d'automatisation basées sur l'IA/ML pour le secteur manufacturier permettent aux
                entreprises d'automatiser diverses opérations commerciales, de gagner du temps, d'améliorer la
                productivité et d'en tirer davantage de moins. Nous concevons, développons et déployons des solutions
                d'automatisation sophistiquées qui permettent de réaliser des économies considérables et d'améliorer la
                précision des processus.
              </p>

              <h5 class="ex-h5 ex-mt-5 ex-start-disc ex-color-secondary">
                ANALYSE DES MÉGADONNÉES
              </h5>

              <p class="ex-text-light ex-text-justify">
                Nous aidons les entreprises manufacturières à tirer parti du Big Data et de l'analyse pour utiliser de
                manière productive les données qu'elles génèrent chaque jour. Nos développeurs intègrent le Big Data et
                l'analyse pour permettre une prise de décision éclairée, des projections éclairées et une planification
                améliorée.
              </p>

              <h5 class="ex-h5 ex-mt-5 ex-start-disc ex-color-secondary">
                SOLUTIONS DE FABRICATION INTELLIGENTES
              </h5>

              <p class="ex-text-light ex-text-justify">
                Nous aidons les fabricants à adopter une approche basée sur la technologie qui implique des machines
                connectées à Internet pour surveiller la production. Nos solutions de fabrication intelligentes aident à
                identifier les opportunités d'automatisation et à exploiter la puissance de l'analyse des données pour
                améliorer les performances du processus de fabrication. </p>
              <h5 class="ex-h5 ex-mt-5 ex-start-disc ex-color-secondary">
                GESTION D'ACTIFS ET OPTIMISATION
              </h5>

              <p class="ex-text-light ex-text-justify">
                Nous nous concentrons également sur l'aide à nos clients pour gérer et optimiser l'utilisation de leurs
                actifs. Nos experts fournissent des solutions technologiques qui aident les entreprises à tirer parti
                des actifs essentiels et à réduire les coûts liés à la gestion d'actifs. Nos solutions offrent une
                meilleure visibilité sur la disponibilité des actifs et planifient efficacement l'utilisation des
                actifs. </p>

              <h5 class="ex-h5 ex-mt-5 ex-start-disc ex-color-secondary">
                SYSTÈME D'ENTREPRISE ET DE CHAÎNE D'APPROVISIONNEMENT
              </h5>

              <p class="ex-text-light ex-text-justify">
                De la conception de systèmes de fabrication au traitement du système de chaîne d'approvisionnement
                complexe, nos solutions couvrent tout ce dont les entreprises de fabrication ont besoin sur le plan
                technologique. En conséquence, nous développons des systèmes ERP qui augmentent l'efficacité et la
                visibilité de la chaîne d'approvisionnement. </p>
            </div>
          </div>

        </ngx-tab>
        <ngx-tab tabTitle="Services de santé">
          <div class="ex-row">
            <div class="ex-col-12">
              <h2 class="ex-h2">Services de santé</h2>
              <p class="ex-text-light ex-text-justify ex-mt-3">
                Tirer parti des solutions de soins de santé numériques de haute technologie pour accélérer les
                opérations & améliorez le service aux patients ! <br>
                Les solutions de réalité augmentée et virtuelle sont des moyens puissants pour améliorer les
                résultats cliniques, l'expérience des patients et la formation professionnelle dans l'industrie
                médicale. <br>
                Avec des solutions de réalité augmentée et virtuelle, de grands ensembles de vitaux médical et
                santé les informations peuvent être fournies aux médecins et aux patients au bon moment et au
                bon endroit, améliorant ainsi les soins et l'expérience globaux des patients. Par exemple, la
                présentation de données diagnostiques à partir d'analyses CT et IRM. <br>
                Il permet également aux étudiants et aux médecins d'apprendre et de pratiquer des
                compétences de manière interactive dans le cadre virtuel. Les procédures pratiques peuvent
                être effectuées dans un environnement sans risque et contrôlé, améliorant la qualité et la vitesse
                de la formation et réduisant les coûts des programmes de formation médicale. <br>
                La technologie est la dernière dimension ajoutée au secteur de la santé. Il a révolutionné le
                secteur de la santé en apportant plusieurs avantages à sa table. Certains d'entre eux incluent des
                applications mobiles et des applications Web pour des réservations de rendez-vous accélérées,
                des soins améliorés aux patients en permettant aux médecins de vérifier les antécédents des
                patients ’, la fourniture de solutions de soins de santé personnalisées, etc. Chez EXSODIA nous
                faisons ce que les acteurs de la santé tels que les hôpitaux, les sociétés pharmaceutiques, ont
                besoin de – des solutions de pointe et de technologie personnalisée pour une précision accrue,
                une productivité améliorée et de meilleurs résultats ! <br>
                Technologie médicale peut être qualifié de produits, services ou solutions développés à l'aide de
                technologies avancées pour sauver et améliorer la vie des gens. Si utilisé correctement,
                technologies médicales permettre la détection et le diagnostic précoces et précis des problèmes
                de santé. En raison de son intervention opportune, il peut contribuer à l'amélioration des
                résultats. Nous pouvons construire des produits innovants en utilisant une technologie médicale
                qui peut remplacer, réparer et maintenir des fonctions corporelles défaillantes. La télémédecine
                et les appareils connectés permettent une surveillance à distance des conditions des patients.
              </p>
              <h5 class="ex-mt-5">NOS SOLUTIONS DE TECHNOLOGIE DE SANTÉ</h5>
              <p class="ex-text-light">Nous employons des développeurs experts qui sont techniquement compétents et
                suffisamment
                intelligents stratégiquement pour comprendre les besoins de nos clients et concevoir des
                solutions technologiques stratégiques alignées sur leurs objectifs.</p>

              <h5 class="ex-h5 ex-mt-5 ex-start-disc ex-color-secondary">ANALYTIQUE PRÉDICTIVE DES SOINS DE SANTÉ</h5>
              <p class="ex-text-light ex-text-justify">De nos jours, les patients exigent un traitement rapide et
                précis. En conséquence, l'une de nos
                nombreuses solutions technologiques en matière de soins de santé comprend le développement
                d'analyses de soins de santé prédictives. Nous fournissons des solutions analytiques de soins de
                santé prédictifs personnalisées qui permettent aux professionnels de la santé d'analyser
                rapidement les données et de tracer un traitement personnalisé pour leurs patients. Nos
                solutions aident à gagner du temps et à améliorer le service aux patients.
              </p>

              <h5 class="ex-h5 ex-mt-5 ex-start-disc ex-color-secondary">
                ANALYSE DES MÉGADONNÉES
              </h5>
              <p class="ex-text-light ex-text-justify">
                Nos solutions de Big Data et d'analyse aident les entreprises de santé, les hôpitaux, les sociétés
                pharmaceutiques, etc., à collecter et à traiter des données et à utiliser des informations prêtes
                pour les entreprises pour permettre un processus décisionnel meilleur et plus éclairé. Ainsi, les
                acteurs de la santé peuvent analyser avec précision les données pour améliorer leurs offres de
                services en fonction des demandes des patients, de la consommation de médicaments, de la
                demande et de l'offre, et de nombreux autres facteurs.
              </p>

              <h5 class="ex-h5 ex-mt-5 ex-start-disc ex-color-secondary">
                DÉVELOPPEMENT DE LOGICIELS DE SANTÉ
              </h5>
              <p class="ex-text-light ex-text-justify">
                Nous développons également diverses applications logicielles pour les soins de santé, telles que
                des logiciels de gestion hospitalière, des CRM hospitaliers, des logiciels de facturation médicale,
                des logiciels de diagnostic médical et des logiciels de gestion de la santé. Nos solutions incluent
                également la modernisation des applications de santé, les solutions de cloud de santé et la
                gestion de la pharmacie.
              </p>
            </div>
          </div>

        </ngx-tab>
        <ngx-tab tabTitle="Gestion de projet">
          <div class="ex-row">
            <div class="ex-col-12">
              <h2>La gestion des projets si possible</h2>
              <p class="ex-text-light ex-mt-3 ex-text-justify">
                Nous avons travaillé à la fois avec des éditeurs de logiciels et des sociétés non logicielles dans
                des projets avec des équipes situées dans différentes parties du monde. Bien qu'un
                développement distribué réussi permette aux équipes de développer des logiciels de haute
                qualité plus rapidement, conduisant à une meilleure agilité commerciale et à une plus grande
                capacité à gérer les pressions de la concurrence, les défis sont importants.
              </p>

              <h5 class="ex-h5 ex-mt-5 ex-start-disc ex-color-secondary">AGILE DE DÉVELOPPEMENT DISTRIBUÉ</h5>

              <p class="ex-text-light ex-text-justify">
                Le cadre Agile maintient une orientation client et affirme que toutes les équipes distantes
                fourniront d'abord les fonctionnalités les plus prioritaires. <br>
                Les avis Sprint garantissent que les fonctionnalités livrées sont examinées et que les
                commentaires sont partagés. <br>
                L'intégration continue crée des points d'intégration fréquents entre toutes les équipes éloignées,
                facilitant la résolution des problèmes à mesure que des problèmes surviennent. <br>
                Le développement piloté par les tests prend en charge la conception la plus simple avec une
                bonne couverture de test et garantit qu'aucune fonctionnalité supplémentaire n'est créée qui n'a
                été demandée par le Product Owner. <br>
                Le refactoring renforce la conception évolutive et aide les équipes à résoudre le problème
                architectural.
              </p>
            </div>
          </div>

          <div class="ex-row ex-mt-5">
            <div class="ex-col-12">
              <h2>MODELES D'ÉQUIPE DÉTRIBUÉS À EXSODIA</h2>
            </div>
          </div>

          <div class="ex-row">
            <div class="ex-col-3">
              <div class="ex-card">
                <div class="ex-card-image">
                  <img src="./../assets/images/img10.jpg" alt="Une image" width="50" height="50" />
                </div>

                <div class="ex-card-text ex-mt-5">
                  <h5 class="ex-h5 ex-text-center">Infrastructure commune</h5>
                  <p class="ex-text-justify ex-mt-5 ex-text-light">

                  </p>
                  <h6 class="ex-start-disc ex-text-light">Base de code intégrée</h6>
                  <h6 class="ex-start-disc ex-text-light">Serveur CI unique</h6>
                  <h6 class="ex-start-disc ex-text-light">Constructions automatisées horaires</h6>
                </div>
              </div>
            </div>

            <div class="ex-col-3">
              <div class="ex-card">
                <div class="ex-card-image">
                  <img src="./../assets/images/img10.jpg" alt="Une image" width="50" height="50" />
                </div>

                <div class="ex-card-text ex-mt-5">
                  <h5 class="ex-h5 ex-text-center">Communauté partagée</h5>
                  <p class="ex-text-justify ex-mt-5 ex-text-light">

                  </p>
                  <h6 class="ex-start-disc ex-text-light">Outil de gestion de projet</h6>
                  <h6 class="ex-start-disc ex-text-light">Wiki et blogs</h6>
                  <h6 class="ex-start-disc ex-text-light">Liste de diffusion et dossier partagés</h6>
                </div>
              </div>
            </div>

            <div class="ex-col-3">
              <div class="ex-card">
                <div class="ex-card-image">
                  <img src="./../assets/images/img10.jpg" alt="Une image" width="50" height="50" />
                </div>

                <div class="ex-card-text ex-mt-5">
                  <h5 class="ex-h5 ex-text-center">Modes de communication élevés</h5>
                  <p class="ex-text-justify ex-mt-5 ex-text-light">

                  </p>
                  <h6 class="ex-start-disc ex-text-light">Planification de sprint</h6>
                  <h6 class="ex-start-disc ex-text-light">Revue de sprint</h6>
                  <h6 class="ex-start-disc ex-text-light">Standups quotidiens</h6>
                  <h6 class="ex-start-disc ex-text-light">Rétrospectives</h6>
                </div>
              </div>
            </div>

            <div class="ex-col-3">
              <div class="ex-card">
                <div class="ex-card-image">
                  <img src="./../assets/images/img10.jpg" alt="Une image" width="50" height="50" />
                </div>

                <div class="ex-card-text ex-mt-5">
                  <h5 class="ex-h5 ex-text-center">Alignement complet</h5>
                  <p class="ex-text-justify ex-mt-5 ex-text-light">

                  </p>
                  <h6 class="ex-start-disc ex-text-light">Alignements technologiques</h6>
                  <h6 class="ex-start-disc ex-text-light">Alignements d'outils</h6>
                  <h6 class="ex-start-disc ex-text-light">Meilleures pratiques d'ingénierie</h6>
                </div>
              </div>
            </div>
          </div>

          <div class="ex-row ex-mt-5">
            <div class="ex-col-12">
              <h1 class="">MODÈLES DE SCRUM DISTRIBUÉS</h1>
            </div>
          </div>
          <div class="ex-row">
            <div class="ex-col-2">
              <img src="./../assets/images/img10.jpg" alt="Une image" class="ex-img-fluid" />
            </div>
            <div class="ex-col-12">
              <h6 class="ex-start-disc ex-text-light">
                SCRUMS ISOLÉS : Les équipes sont isolées à différents endroits. Certaines équipes peuvent ne pas utiliser Agile.
              </h6>
              <h6 class="ex-start-disc ex-text-light">
                SCRUM DISTRIBUÉ DE MÊLÉES : Les équipes Scrum interfonctionnelles sont isolées
                d'un endroit à l'autre et intégrées par un Scrum-of-Scrums qui se réunit régulièrement à
                travers des endroits.
              </h6>
              <h6 class="ex-start-disc ex-text-light">
                SCRUMS TOTALEMENT INTÉGRÉ : Les membres de l'équipe Scrum sont répartis entre
                les sites.
              </h6>
            </div>
          </div>
        </ngx-tab>
      </ngx-tabs>
    </div>
  </div>
</section>
