<footer class="ex-footer ex-bg-primary" id="ex-contact">
  <div class="ex-container">
      <div class="ex-row ex-mt-5">
          <div class="ex-col-3 ex-description" data-aos="fade-up" data-aos-delay="100">
              <h2 class="h2">Logo ici</h2>
              <p class="ex-description-text ex-text-justify">
                Nous créons des solutions informatiques pratiques, simples d’usage et bienveillantes.
              </p>
          </div>
          <div class="ex-col-2 ex-about" data-aos="fade-up" data-aos-delay="200">
              <h2 class="ex-h2 ex-text-uppercase">A propos de nous</h2>
              <ul class="ex-list">
                  <li>
                      <a href="#ex-about" class="ex-list-item">Histoire</a>
                  </li>
                  <li>
                      <a href="#ex-about" class="ex-list-item">Vision</a>
                  </li>
                  <li>
                      <a href="#ex-about" class="ex-list-item">Mission</a>
                  </li>
              </ul>
          </div>
          <div class="ex-col-3" data-aos="fade-up" data-aos-delay="300">
              <h2 class="ex-h2 ex-text-uppercase">Services</h2>
              <ul class="ex-list">
                  <li>
                      <a href="#ex-service" class="ex-list-item ex-text-uppercase">Manufacturation</a>
                      <a href="#ex-service" class="ex-list-item ex-text-uppercase">E-Sante</a>
                      <a href="#ex-service" class="ex-list-item ex-text-uppercase">Gestion de projet</a>
                  </li>
              </ul>
          </div>
          <div class="ex-col-2" data-aos="fade-up" data-aos-delay="400">
              <h2 class="ex-h2 ex-text-uppercase">Informations</h2>
              <ul class="ex-list">
                  <li>
                      <a href="#" class="ex-list-item ex-text-uppercase">carrer</a>
                  </li>
                  <li>
                      <a href="#" class="ex-list-item ex-text-uppercase">other</a>
                  </li>
              </ul>
          </div>
          <div class="ex-col-2" data-aos="fade-up" data-aos-delay="500">
              <h2 class="ex-h2 ex-text-uppercase">Contact us</h2>
              <ul class="ex-list">
                  <li>
                      <a href="#" class="ex-list-item">takamrushclin@gmail.com</a>
                  </li>
                  <li>
                      <a href="#" class="ex-list-item ex-text-uppercase">Hello world</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>

  <div class="ex-container">
      <div class="ex-row">
          <div class="ex-col-6">
              <p class="ex-copyright">
                  Copyright &copy; 2022. All right reserved
              </p>
          </div>
          <div class="ex-col-6">
              <ul class="ex-list-social">
                  <li>
                      <a href="#" class="ex-list-item-social">
                          <i class="fab fa-facebook ex-icon"></i>
                      </a>
                  </li>

                  <li>
                      <a href="#" class="ex-list-item-social">
                          <i class="fab fa-linkedin ex-icon"></i>
                      </a>
                  </li>

                  <li>
                      <a href="#" class="ex-list-item-social">
                          <i class="fab fa-twitter ex-icon"></i>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </div>

  <div class="ex-bg-secondary ex-mt-5"></div>
</footer>
