/*
/*
/*          ********    ***   ***    ****     ****     **     ***
/*          ********     **   **    **  **    ** **    **    ** **
/*          **            ** **     **  **    ** **    **    ** **
/*          ******         **       **  **    ** **    **    ** **
/*          **           ** **      **  **    ** **    **    ** **
/*          ********    **   **     **  **    ** **    **    *****
/*          ********   ***   ***     ****     ****     **    ** **
/*
/*                              Copyright 2022
/*
*/


/*************************\
*
* IMPORT CSS FOR CAROUSEL
*
\*************************/

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

/*************************\
*
*      CSS VARIABLES
*
\*************************/

$ex-secondary: #1C67A9;
$ex-primary: #603F91;
$ex-white: #F9F9F5;
$ex-light: #F2F2EA;
$ex-gray-1: #D1D1CE;
$ex-gray-2: #384A56;
$ex-gray-3: #132028;
$ex-violet: #6A48A6;
$ex-secondary-thin: #CCE7E5;

$ex-fs-1: 1.563rem;
$ex-fs-2: 1.5rem;
$ex-fs-3: 1.25rem;
$ex-fs-4: 1.078rem;
$ex-fs-5: 1rem;
$ex-fs-6: 0.938rem;
$ex-fs-7: 0.875rem;
$ex-fs-8: 0.844rem;
$ex-fs-9: 0.813rem;
$ex-fs-10: 0.769rem;

$ex-fw-500: 500;
$ex-fw-600: 600;

$ex-transition: 0.25s ease;
$ex-cubic-out: cubic-bezier(0.45, 0.85, 0.5, 1);
$ex-cubic-in: cubic-bezier(0.5, 0, 0.50, 0.95);

$ex-shadow-1: 0 12px 20px hsla(210, 10%, 23%, 0.07);
$ex-shadow-2: 0 2px 10px hsla(0, 0%, 0%, 0.04);
$ex-shadow-3: 0 2px 20px $ex-gray-1;

$ex-radius: 6px;


/*************************\
*
*     REINITIALISATION
*
\*************************/

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Be Vietnam Pro';
    scroll-behavior: smooth;
}

body {
    padding-block-start: 60px;
    background: $ex-white;
}

a,
span,
img,
data,
time,
input,
button {
    display: block
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

:focus-visible {
    outline: 2px solid $ex-gray-3;
    outline-offset: 1px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: hsl(0, 0%, 95%);
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 70%)
}


/*************************\
*
*      ELEMENTS STYLES
*
\*************************/

.ex-bg-primary {
    background: $ex-primary;
}

.ex-bg-dark{
    background: $ex-gray-2;
    color: $ex-white;
}

.ex-bg-light{
    background-color: $ex-gray-1;
}

.ex-bg-secondary {
    background: $ex-secondary;
}

.ex-color-white {
    color: $ex-white;
}

.ex-color-primary {
    color: $ex-primary;
}

.ex-color-secondary{
    color: $ex-secondary;
}

.ex-text-light{
    font-weight: 300;
    font-size: $ex-fs-8;
}

.ex-text-bold {
    font-weight: $ex-fw-600;
}

.ex-text-center{
    text-align: center;
}

.ex-text-large {
    font-size: $ex-fs-1;
}

.ex-text-small {
    font-size: $ex-fs-9;
    font-weight: $ex-fw-500;
}

.ex-text-uppercase {
    text-transform: uppercase;
}

.ex-start-disc::before{
    content: '\2022';
    padding-right: 10px;
    font-size: 15px;
}

section:not(section.ex-hero) {
    .ex-container{
       padding-block: 50px;
    }
}

.ex-img-fluid {
    width: 100%;
    height: auto;
}

.ex-p-5 {
    padding: 15px;
}

.ex-mt-5 {
    margin-top: 20px;
}

.ex-mt-3 {
    margin-top: 10px;
}

.ex-d-block {
    display: inline-block;
}

.ex-text-justify {
    text-align: justify;

    @media (min-width: 992px){
        padding-right: 10px;
    }
}

.ex-text-center {
    text-align: center
}

.ex-text-primary {
    color: $ex-primary;
}

/*************************\
*
*      BUTTON DESIGN
*
\*************************/

.ex-btn-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
}

.ex-btn {
    font-size: $ex-fs-9;
    font-weight: $ex-fw-600;
    padding: 8px 16px;
    border-radius: $ex-radius;
    margin: 10px 10px;
    transition: $ex-transition;
    text-align: center;

    &.ex-btn-secondary {
        background: $ex-secondary;
        color: $ex-white;

        &.active,
        &:is(:focus, :hover) {
            box-shadow: 3px 5px 3px $ex-gray-2;
            transition: $ex-transition;
            color: $ex-white;
        }
    }

    &.ex-btn-primary {
        background: $ex-primary;
        color: $ex-white;

        &.active,
        &:is(:focus, :hover) {
            box-shadow: 3px 5px 3px $ex-gray-2;
            transition: $ex-transition;
            color: $ex-white;
            background: $ex-primary;
        }
    }
}

/*************************\
*
*    RESPONSIVE DESIGN
*
\*************************/

.ex-container {
    padding-inline: 20px;

    @media (min-width: 992px) {
        padding-inline: 100px;
    }
}

.ex-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: 992px) {
        flex-direction: row;
    }
}

.ex-col-1 {
    width: 100%;
    padding-block: 10px;

    @media (min-width: 992px) {
        width: 8.33333333333%;
        padding-inline: 5px;
    }
}

.ex-col-2 {
    width: 100%;
    padding-block: 10px;

    @media (min-width: 992px) {
        width: 16.66%;
        padding-inline: 5px;
    }
}

.ex-col-3 {
    width: 100%;
    padding-block: 10px;

    @media (min-width: 992px) {
        width: 25%;
        padding-inline: 5px;
    }
}

.ex-col-4 {
    width: 100%;
    padding-block: 10px;

    @media (min-width: 992px) {
        width: 33.33%;
        padding-inline: 5px;
    }
}

.ex-col-5 {
    width: 100%;
    padding-block: 10px;

    @media (min-width: 992px) {
        width: 41.66%;
        padding-inline: 5px;
    }
}

.ex-col-6 {
    width: 100%;
    padding-block: 10px;

    @media (min-width: 992px) {
        width: 50%;
        padding-inline: 5px;
    }
}

.ex-col-7 {
    width: 100%;
    padding-block: 10px;

    @media (min-width: 992px) {
        width: 58.33%;
    padding-inline: 5px;
    }
}

.ex-col-8 {
    width: 100%;
    padding-block: 10px;

    @media (min-width: 992px) {
        width: 66.66%;
        padding-inline: 5px;
    }
}

.ex-col-9 {
    width: 100%;
    padding-block: 10px;

    @media (min-width: 992px) {
        width: 75%;
        padding-inline: 5px;
    }
}

.ex-col-10 {
    width: 83.33%;
    padding-block: 10px;

    @media (min-width: 992px) {
        width: 8.33333333333%;
        padding-inline: 5px;
    }
}

.ex-col-11 {
    width: 100%;
    padding-block: 10px;

    @media (min-width: 992px) {
        width: 91.66%;
    padding-inline: 5px;
    }
}

.ex-col-12 {
    width: 100%;
    padding-block: 10px;

    @media (min-width: 992px) {
        width: 100%;
        padding-inline: 5px;
    }
}

/*************************\
*
*    HEDAER DESIGN
*
\*************************/

.ex-header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    padding-block: 15px;
    box-shadow: $ex-shadow-2;
    transition: 0.5s $ex-cubic-in;
    z-index: 10;

    &.active {
        height: 300px;
        transition: 0.5s $ex-cubic-out;

        .ex-navbar {
            opacity: 1;
            visibility: visible;
        }

        .ex-bar:nth-child(2) {
            opacity: 0;
        }

        .ex-bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        .ex-bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
            width: 25px;
        }
    }

    >.ex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .ex-navbar {
            position: absolute;
            top: 66px;
            width: 100%;
            left: 0;
            right: 0;
            opacity: 1;
            transition: 0.5s $ex-cubic-out;

            .ex-navbar-list {
                margin-bottom: 15px;

                .ex-navbar-link {
                    font-size: $ex-fs-6;
                    font-weight: $ex-fw-600;
                    padding: 10px 0;
                    text-align: center;
                    text-transform: capitalize;
                    color: $ex-white;
                    transition: $ex-transition;

                    &.active,
                    &:is(:focus, :hover) {
                        color: $ex-primary;
                        transition: $ex-transition;
                    }
                }
            }
        }
    }

    &.active .ex-navbar {
        opacity: 1;
        visibility: visible;
    }

    .ex-bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: $ex-white;

        &:nth-child(2) {
            width: 15px;
        }

        &:nth-child(3) {
            width: 10px;
        }
    }

    .ex-hamburger {
        display: block;
        cursor: pointer;
    }

    @media (min-width: 992px) {

        &.active {
            height: unset
        }

        >.ex-container {

            .ex-navbar {
                flex-grow: 1;
                all: unset;

                >.ex-container {

                    .ex-navbar-list {
                        margin-bottom: 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-inline: auto;

                        .ex-navbar-link {
                            padding: 0 20px;
                            margin-inline: auto;
                        }
                    }
                }
            }

            .ex-hamburger {
                display: none;
            }
        }
    }
}

/*************************\
*
*      FOOTER DESIGN
*
\*************************/

.ex-footer {
    padding-block: 50px;
    color: $ex-white;

    .ex-h2 {
        font-size: $ex-fs-7;

        &.ex-uppercase {
            font-weight: 400;
            font-size: 13px;
        }
    }

    .ex-description-text {
        padding-top: 10px;
        font-size: 11px;
        font-weight: 400;
    }

    .ex-list {
        padding-top: 10px;

        .ex-list-item {
            font-size: 11px;
            padding-bottom: 10px;
            transition: 0.5s ease;

            &:is(:hover, :focus) {
                padding-left: 10px;
                transition: 0.5s ease;
                color: $ex-gray-3;
            }
        }
    }

    .ex-list-social {
        display: flex;

        .ex-list-item-social {
            padding-right: 20px;
            transition: 0.5s ease;

            &:is(:hover, :focus) {
                padding-left: 10px;
                transition: 0.5s ease;
            }

            .ex-icon {
                font-size: 20px;
            }
        }
    }

    .ex-copyright {
        font-weight: 300;
        font-size: 11px;
    }
}

/*************************\
*
*      HERO SECTION
*
\*************************/

.ex-hero {
    position: relative;
    padding: 5rem 0;
    overflow: hidden;

    .ex-row{
        align-items: center;
    }

    .ex-hero-text{
        .ex-h1{
            font-size: 50px;
        }

        .ex-hero-subtitle{
            font-weight: 100;
        }
    }

    .ex-hero-contact{

        .ex-btn{
            border: solid 1px $ex-secondary;
            margin: 10px 0;
            padding: 10px 20px;

            .ex-icon{
                padding-left: 5px;
            }

            &:is(:hover, :focus){
                background-color: $ex-secondary;
            }
        }
    }

    &.ex-hero-bg{
        background: linear-gradient(170deg, $ex-primary 64%, $ex-white 30%);
    }

    .ex-hero-image {
        position: relative;
        top: 1em;
    }

    >.ex-container {
        color: $ex-white
    }
}

/*************************\
*
*    GALLERY DESIGN
*
\*************************/

.ex-gallery{
    display: grid;
    grid-template-areas:
    "a a a g g g g"
    "a a a c c d d"
    "a a a c c d d"
    "e e e c c f f"
    "e e e c c f f";
    grid-gap: 10px;

    .ex-gallery-element:nth-child(1){
        grid-area: a;
    }

    .ex-gallery-element:nth-child(2){
        grid-area: c;
    }

    .ex-gallery-element:nth-child(3){
        grid-area: d;
    }

    .ex-gallery-element:nth-child(4){
        grid-area: e;
    }

    .ex-gallery-element:nth-child(5){
        grid-area: f;
    }

    .ex-gallery-element:nth-child(6){
        grid-area: g;
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }
}

/*************************\
*
*   CAROUSEL DESIGN
*
\*************************/

.ex-carousel{
    z-index: 0;

    .ex-carousel-card{
        transition: $ex-transition;

        &:is(:hover, :focus){
            background-color: $ex-secondary;
            transition: $ex-transition;
            border-radius: $ex-radius;

            .ex-carousel-description{
                color: $ex-white;
                opacity: 1;
            }

            img{
                opacity: 0.1;
            }
        }

        img{
            border-radius: $ex-radius;
            height: 400px;
            object-fit: cover;
            opacity: 0.5;
        }

        .ex-carousel-description{
            position: absolute;
            top: 20px;
            padding: 0 10px;
            opacity: 0;
        }

        .ex-carousel-title{
            background: $ex-gray-1;
            position: absolute;
            bottom: 22px;
            right: 0;
            left: 0;
            width: 100%;
            padding: 32px;
        }

        .ex-carousel-icon{
            position: absolute;
            right: 30px;
            top: 50px;
            background: $ex-primary;
            border-radius: 50px;
            color: $ex-white;
            font-size: $ex-fs-6;
            width: 30px;
            height: 30px;
            text-align: center;
            padding-left: 5px;
            display: flex;
            justify-content:center;
            align-items: center;
        }
    }
}


.ex-card{
    padding: 20px 10px;
    border-radius: $ex-radius;
    background: $ex-white;
    color: $ex-gray-3;
    transition: $ex-transition;

    .ex-card-image{
        display: flex;
        justify-content: center;
    }

    .ex-card-text{
        padding: 0 5px 0 20px;
    }
    img{
        border-radius: 100%;
        object-fit: cover;
    }

    &:is(:hover, :focus){
        transition: $ex-transition;
        background-color: $ex-gray-3;
        color: $ex-white;
    }

    .ex-btn{
        border: solid 1px $ex-primary;
        transition: $ex-transition;

        &:is(:hover, :focus){
            background-color: $ex-primary;
            transition: $ex-transition;
        }
    }
}

/*************************\
*
*      SCROLL TO TOP
*
\*************************/

.ex-scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
    z-index: 10;

    .ex-scroll-icon{
        padding: 10px;
        border-radius: 50%;
        background: $ex-secondary;
        color: $ex-white;

        &:is(:hover, :focus){
            box-shadow: 1px 1px 30px $ex-primary;
        }
    }

    &.ex-show-scroll-to-top {
        opacity: 1;
        transition: all .2s ease-in-out;
    }
}

/***LAST ELEMENTS**/
section{
  padding-top: 50px;
}
